# Personal notes
notes.md

# Environment variables
.env
.env.local
*.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# uv cache
.uv_cache/

# Google Cloud credentials
*.json
!requirements.json
!package.json

# Data directory
# it contains large files and there is code for downloading the data
/data/

# MLFlow
# FIXME
# for now ignore the database and all artifacts
# I *may* change this, because it could be relevant for passing the course
# but the files are large, and I wouldn't usually track this
# PostgreSQL persistent storage
#pgdata/
# MLFlow artifacts
# UPDATE: no, I changed my mind and share it this time!
#mlartifacts/

# CatBoost training directory
catboost_info/
*/catboost_info/
*/catboost_info/*